<table id="userAttendeesTable" class="table table-striped table-hover">
  <thead>
  <tr>
    <th class="sort-alpha">Ramo</th>
    <th class="visible-lg sort-numeric">Importo totale</th>
    <th class="visible-lg sort-numeric">Guadagno totale</th>
    <th class="visible-lg sort-numeric">Numero di pezzi</th>
    <th class="visible-lg">Likes</th>
    <th>Scadenza della gara</th>
  </tr>
  </thead>
  <tbody>
  <% @attendees.each do |attendee| %>
    <tr class="gradeX">
      <td class="lead">
                <span class="actions hidden">
          <small>
            <%= link_to "Mostra", race_path(attendee.race), class:'btn btn-xs btn-primary' %>
          </small>
                          <br>
        </span>

        <div class="label label-success"><%= attendee.race.permalink %></div>
        / <%= attendee.race.name.capitalize %>

      </td>
      <td class="visible-lg"><%= number_to_currency attendee.target_covered, precision: 0 %></td>
      <td ><%= number_to_currency attendee.revenue,   precision: 0 %></td>
      <td ><%= number_to_human attendee.pieces.count %></td>
      <td class="visible-lg"><%= number_to_human attendee.race.likes.count %></td>
      <td><%= attendee.race.ends_at.strftime('%d/%m/%Y') %></td>
    </tr>
  <% end %>
  </tbody>
</table>