<div id="joinModal" tabindex="-1" role="dialog" aria-labelledby="joinModalLabel" aria-hidden="true" class="modal fade" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" data-dismiss="modal" aria-label="Close" class="close">
          <span aria-hidden="true">×</span>
        </button>
        <h4 id="joinModalLabel" class="modal-title">Aggiungi o rimuovi dei pezzi</h4>
      </div>
      <%= nested_form_for([@race, @attendee]) do |f| %>
        <div id="errors" ></div>
        <div class="panel-body pt0">
          <div class="row">
            <div class="col-lg-12 text-center">
              <em class="fa fa-check fa-4x text-success"></em>

              <p class="h2">Sei dentro!</p>
              <h2 class="h2">
                <span><%= tooltip_widget(:races, :category, 'fa-code-fork') %></span>
                &nbsp;
                <%= @race.category.name.humanize %> |  <%= number_to_currency @race.remaining_value, precision:2  %>
                &nbsp;
                <span><%= tooltip_widget(:races, :remaining_value, 'fa-money') %></span>
              </h2>

              <p class="text-center lead"><%= raw t('view.races.modal.join.text_help') %></p>
            </div>
          </div>
          <div id="errors"></div>
          <%= f.fields_for :pieces do |pieces_form| %>
            <div class="row">
              <div class="col-lg-4" >
                <fieldset>
                  <div class="form-group text-center">
                    <%= pieces_form.label "MEMO", class: 'col-sm-12 control-label',
                                          data:{"toggle": "tooltip", "placement": "top", "original-title": "Inserisci un nome per ricordarti il nome cliente"}%>
                      <div class="">
                        <%= pieces_form.text_field :name, class: 'form-control input-sm upcase'%>
                      </div>
                  </div>
                </fieldset>
              </div>
              <div class="col-lg-4">
                <fieldset>
                  <div class="form-group text-center">
                    <%= pieces_form.label :value, class: 'col-sm-12 control-label' %>
                      <div class="input-group">
                        <span class="input-group-addon">€</span>
                        <%= pieces_form.text_field :value, class: 'form-control input-sm'%>
                        <span class="input-group-addon">.00</span>
                      </div>
                  </div>
                </fieldset>
              </div>
              <div class="col-lg-3">
                <fieldset>
                  <div class="form-group text-center">
                    <%= pieces_form.label :duration, class: 'col-sm-12 control-label' %>

                      <div class="input-group">
                        <%= pieces_form.text_field :duration, class: 'form-control input-sm' %>
                        <span class="input-group-addon">anni</span>
                      </div>
                  </div>
                </fieldset>
              </div>
              <div class="col-lg-1 col-sm-12">
                <fieldset class="text-center">
                    <label class="col-sm-12 control-label">&nbsp;</label><br>
                    <%= pieces_form.link_to_remove "", class:'icon-close text-danger fa-2x no-decoration', id:'remove_piece' %>
                </fieldset>
              </div>
            </div>
          <% end %>

          <p class="text-center">
            <%= f.link_to_add "", :pieces, class:'icon-plus text-success fa-2x no-decoration', id:"add_piece" %>
          </p>
        </div>
        <p class="text-center">
          <%= raw t('view.races.modal.join.text_help_no_pieces') %>
        </p>
        <div class="modal-footer">
          <button type="button" data-dismiss="modal" class="btn btn-default btn-pill-left">Chiudi</button>

          <button id="join" type="submit" class="btn btn-success btn-pill-right">
            <!--<em class="fa fa-plus fa-fw text-muted text-success"></em>-->
            <span>Partecipa</span>
          </button>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
//  $( document ).ready(function() {
//    $('#remove_piece').click();
//  });

</script>