<!-- START Sidebar (left)-->
<div class="aside-inner">
   <nav class="sidebar" data-sidebar-anyclick-close="">
      <!-- START sidebar nav-->
      <ul class="nav">
         <!-- START user info-->
         <li class="has-user-block">
            <div id="user-block" class="">
               <div class="item user-block">
                  <!-- User picture-->
                  <div class="user-block-picture">
                     <div class="user-block-status">
                       <% if current_user.image  %>
                         <img src="<%= image_path(current_user.image)  %>" alt="Avatar" width="60" height="60" class="img-thumbnail img-circle" />
                         <div class="circle circle-success circle-lg"></div>
                       <% else %>
                         <img src="<%= image_path("default_profile.png")%>" alt="Avatar" width="60" height="60" class="img-thumbnail img-circle icon-user" />
                         <div class="circle circle-success circle-lg"></div>
                       <% end %>
                     </div>
                  </div>
                  <!-- Name and Job-->
                  <div class="user-block-info">
                     <span class="user-block-name">Hello, <%= current_user.name if current_user %></span>
                     <span class="user-block-role"><%= current_user.kind.capitalize %></span>
                  </div>
               </div>
            </div>
         </li>
         <!-- END user info-->
         <!-- Iterates over all sidebar items-->
         <li class="nav-heading">
            <span>MENU</span>
         </li>

        <li class="<%= 'active' if controller?('dashboard') && action?('dashboard_v1') %>">
          <a href="/dashboard/dashboard_v1" title="Dashboard v1">
            <em class="icon-speedometer"></em>
            <span>Dashboard default</span>
          </a>
        </li>

        <li class="<%= 'active' if controller?('races') && action?('index') %>">
          <%= link_to(races_path) do %>
            <em class="fa fa-bullseye"></em>
            <span data-localize="sidebar.nav.race.INDEX">TUTTE LE GARE</span>
          <% end %>
        </li>

        <li class="<%= 'active' if controller?('races') && action?('user_races') %>">
          <%= link_to(user_races_path current_user) do %>
            <em class="fa fa-road"></em>
            <span data-localize="sidebar.nav.race.INDEX">LE MIE GARE</span>
          <% end %>
        </li>

        <li class="<%= 'active' if controller?('attendees') && action?('index') %>">
          <%= link_to(user_attendees_path(current_user)) do %>
            <em class="fa fa-car"></em>
            <span data-localize="sidebar.nav.race.INDEX">GARE DOVE PARTECIPO</span>
          <% end %>
        </li>
        <li>
          <%= link_to(edit_user_path(current_user)) do %>
            <em class="fa fa-user"></em>
            <span data-localize="sidebar.nav.race.INDEX">IMPOSTAZIONI</span>
          <% end %>
        </li>
        <li>
          <%= link_to(friends_user_path(current_user)) do %>
            <em class="fa fa-gift"></em>
            <span data-localize="sidebar.nav.race.INDEX">PREMI</span>
          <% end %>
        </li>
        <li>
          <%= link_to(destroy_user_session_path, method: :delete) do %>
            <span data-localize="sidebar.nav.race.INDEX">LOGOUT</span>
          <% end %>
        </li>

        <li>
          <%= link_to(new_race_path) do %>
          <% end %>
        </li>
        <li class="new_race">
          <%= link_to(new_race_path, class:'new_race') do %>
            <em class="icon-plus"></em>
            <span data-localize="sidebar.nav.race.INDEX">CREA UNA GARA</span>
          <% end %>
        </li>
      </ul>
      <!-- END sidebar nav-->


   </nav>
  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-success btn-xl">Crea una gara</button>

    </div>
  </div>

</div>
<!-- END Sidebar (left)-->