<% content_for :body_area do %>

  <!-- Modal-->
  <div id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button id="closeMyModal" type="button" data-dismiss="modal" aria-label="Close" class="close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 id="myModalLabel" class="modal-title">Abbiamo bisogno del tuo RUI per pubblicare la GARA</h4>
        </div>
        <div class="modal-body form-horizontal">
          <div id="errors"></div>
          <%= form_for current_user, id: 'rui-form', :html => {:class => 'form-horizontal'} do |f| %>
            <div class="form-group">
              <%= f.label :name, class: 'col-sm-2 control-label', required:true %>
              <div class="col-sm-6">
                <%= f.text_field :name, class:'form-control'  %>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :location, class: 'col-sm-2 control-label', required:true %>
              <div class="col-sm-6">
                <%= f.text_field :location, class:'form-control'  %>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :phone, class: 'col-sm-2 control-label', required:true %>
              <div class="col-sm-6">
                <%= f.text_field :phone, class:'form-control'  %>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :rui, class: 'col-sm-2 control-label', id:'rui', required:true %>
              <div class="col-sm-6">
                <%= f.text_field :rui, class:'form-control'  %>
              </div>
            </div>
          <% end %>

        </div>
        <div class="modal-footer">
          <button id="save" type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>


  <script>
    $('#myModal').modal('show').css("display", "block").addClass( "in" );

    $('#save').click(function(){

      data = $('form').serialize();

      $.ajax({
        url: "/users/<%= current_user.id %>",
        method: 'patch',
        data: data,
        dataType: "json",
        success: function(){
          $("#myModal").modal('hide');
        },
        error: function(data){
          $("#errors").html("<p class='text-danger'>"+ Object.keys(data.responseJSON) + " " + data.responseJSON.rui +"</p>");
        }
      });

    });
  </script>
<% end %>