<% if @race.errors.any? %>
  <% @race.errors.each do |attr,msg| %>
    <div role="alert" class="alert alert-warning">
      <%= msg.capitalize %>
    </div>
  <% end %>
<% end %>

<%= form_for @race, :html => {:class => 'form-horizontal'} do |f| %>
  <div class="panel-body">
  <h4>Descrizione Gara</h4><br><br>
  <fieldset>
    <div class="form-group">
      <%= f.label :name, class: 'col-sm-2 control-label' %>
      <div class="col-sm-3">
        <%= f.text_field :name, class:'form-control', id:'name' %>
      </div>
      <div class="col-sm-4">
        <span class="help-block m-b-none"><%= t('forms.race.help.name') %></span>
      </div>
    </div>
  </fieldset>
  <fieldset>
    <div class="form-group">
      <%= f.label :description, class: 'col-sm-2 control-label' %>
      <div class="col-sm-8">
        <%= f.text_area :description, class:'form-control', rows: "5" , id:'description'  %>
      </div>
      <div class="col-sm-2">
        <span class="help-block m-b-none"><%= t('forms.race.help.description') %></span>
      </div>
    </div>
  </fieldset>

  <% if @race.new_record? %>
    <fieldset>
      <div class="form-group">
        <%= f.label :category, class: 'col-lg-2 control-label' %>
        <div class="col-sm-3">
          <%= f.grouped_collection_select(:category_id, Category.find_by_name('assicurazioni').children,
                                          :children, :name, :id ,:name,
                                          {},
                                          {:class=>'chosen-select input-md form-control input-lg m-b',}) -%>
        </div>
        <%= f.label :recipients, class: 'col-lg-2 control-label' %>
        <div class="col-sm-3">
          <%= f.select(:recipients, options_for_select([['Agenti', 'Agenti'], ['Broker', 'Broker'], ['Tutti', 'Tutti'] ]), {},{:class=>'chosen-select input-md form-control m-b'}) %>
        </div>
      </div>
    </fieldset>

    <fieldset>
      <div class="form-group">
        <%= f.label :starts_at, class: 'col-lg-2 control-label' %>
        <div class="col-sm-3">
          <%= f.text_field :starts_at, class:'form-control input-group date datetimepicker', id:'start_date' %>
        </div>
        <%= f.label :ends_at, class: 'col-lg-2 control-label' %>
        <div class="col-sm-3">
          <%= f.text_field :ends_at, class:'form-control input-group date datetimepicker', id:'end_date'  %>
        </div>
      </div>
    </fieldset>
  <% end %>

  <br><h4>Remunerazione</h4><br><br>

  <fieldset>
    <div class="form-group">
      <%= f.label :race_value, class: 'col-sm-2 control-label' %>
      <div class="col-sm-3 ">
        <div class="input-group m-b">
          <span class="input-group-addon">€</span>
          <%= f.text_field :race_value, class:'form-control', id:'race_value'%>
          <span class="input-group-addon">.00</span>
        </div>
      </div>

      <%= f.label :commission, class: 'col-lg-2 control-label' %>
      <div class="col-sm-3">
        <div class="input-group m-b">
          <%= f.text_field :commission, class:'form-control', id:'commission'  %>
          <span id="replace_money_2" class="input-group-addon">%</span>
        </div>
      </div>
    </div>
  </fieldset>


  <fieldset>
    <div class="form-group">
      <%= f.label :max_attendees, class: 'col-lg-2 control-label' %>
      <div class="col-sm-2">
        <%= f.number_field :max_attendees, class:'form-control input-lg m-b', id:'max_attendees'  %>
      </div>
      <%= f.label :pieces_amount, class: 'col-lg-2 control-label' %>
      <div class="col-sm-2">
        <%= f.number_field :pieces_amount, class:'form-control input-lg m-b', id:'pieces_amount' %>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <div class="form-group text-center">
      <%= f.submit 'Pubblica la gara', class: 'btn btn-xl btn-success' %>
    </div>
  </fieldset>

</div>
<% end %>