<% if @race.errors.any? %>
  <div id="error_explanation">
    <h2 class="text-center"><%= pluralize(@race.errors.count, "error") %> Per i seguenti motivi non è stato possibile salvara la gara</h2>

    <ul>
      <% @race.errors.full_messages.each do |message| %>
        <div class="well well-sm">
          <h4 class="text-danger"><%= message %></h4>
        </div>
      <% end %>

    </ul>
  </div>
<% end %>

<%= form_for @race, url: publish_check_race_path, method:'patch' do |f| %>
<%# form_for(@race) do |f| %>
  <div class="panel-body">
    <h4>Rendi la partecipazione alla gara a pagamento o gratuita</h4><br><br>
    <fieldset>
      <div class="form-group">
        <%= f.label :kind, class: 'col-lg-2 control-label' %>
        <div class="col-sm-3">
          <div data-toggle="buttons" class="btn-group">
            <%= label_tag :kind, "public", class:'btn btn-primary btn-outline active', id: 'pay_for_publish' do  %>
              <%= f.radio_button :kind, 'pay_for_publish', checked:true  %>
              Gara pubblica
            <% end %>
            <%= label_tag :kind, "private", class:'btn btn-primary btn-outline', id: 'pay_for_join' do  %>
              <%= f.radio_button :kind, 'pay_for_join' %>
              Gara privata
            <% end %>
          </div>
        </div>
        <div class="col-sm-1">
          <p class="lead pay_for_publish">29€</p>
          <p class="lead pay_for_join" style="display: none;">0€</p>
        </div>
        <div class="col-sm-5">
          <span class="help-block m-b-none pay_for_publish">Le persone potranno partecipare gratuitamente alla tua gara.</span>
          <span style="display: none;" class="help-block m-b-none pay_for_join">Le persone dovranno pagare un o avere un account "pro" per partecipare.</span>
        </div>
      </div>
    </fieldset>
  </div>

  <div class="pay_for_join text-center" style="display: none;">
    <%= f.submit 'Pubblica la gara', class: 'btn btn-info' %>
  </div>

<% end %>

<div class="text-center pay_for_publish">
  <% if @race.payed? %>
    <button id="payed_submit" class="btn btn-info">Pubblica la gara</button>
    <%# link_to 'Pubblica la gara', publish_check_race_path(@race), class: 'btn btn-success' %>
  <% else %>
      <%= render 'payola/transactions/checkout', sellable: @race ,
                 email:current_user.email,
                 button_text: 'Paga e rendi la gara pubblica'
      %>
  <% end %>
</div>

<% if current_user.rui.blank? %>
  <%= render partial: 'layouts/modals/rui_modal' %>
<% end %>

