<h3>Ecco la gara <%= @race.name %>
  <!--<small>In lacinia tellus vitae nisl consectetur pellentesque.</small>-->
</h3>
<div class="row">
  <div class="col-lg-8">
    <!-- Main panel-->
    <div class="panel b">
      <div class="panel-heading">
        <div class="pull-right mt">
          <div class="label label-info">started</div>
        </div>
        <h4 class="mv">
          <span><%= @race.name %></span>
        </h4>
      </div>
      <div class="panel-body bb bt">
        <div>
          <h4 class="inline">Valore della gara</h4>
          <h4 class="inline pull-right">% remunerazione</h4>
        </div>
        <div>
          <h4 class="inline"><%= number_to_currency @race.race_value, unit: '€' %></h4>
          <h4 class="inline pull-right"><%= @race.compensation_amount %>%</h4>
        </div>
      </div>
      <div class="panel-body">
        <h4>Description</h4>
        <p><%= @race.description %></p>
      </div>
    </div>
    <!-- End Main panel-->
    <!-- End Team messages-->
  </div>
  <div class="col-lg-4">
    <!-- Aside panel-->
    <div class="panel b">
      <div class="panel-body bb">
        <div class="clearfix">
          <div class="pull-left">
            <% if @race.owner == current_user %>
              <%= form_for @race do |f| %>
                <% if @race.status == 'paused' %>
                  <%= f.hidden_field :status, :value => "started" %>
                  <%= f.submit 'Start', class:'btn btn-success btn-oval btn-outline', id:"start_button" %>
                <% else %>
                  <%= f.hidden_field :status, :value => "paused" %>
                  <%= f.submit 'Stop', class:'btn btn-warning btn-oval btn-outline', id:"stop_button" %>
                <% end %>
              <% end %>

            <% elsif @race.owner != current_user %>
              <% if current_user.joined?(@race) %>
                <%= link_to leave_race_path @race do %>
                  <button type="button" class="btn btn-warning btn-oval btn-outline">
                    <em class="fa fa-minus fa-fw text-muted text-warning"></em>
                    <span>Lascia gara</span>
                  </button>
                <% end %>
              <% else %>
                <%= link_to join_race_path @race do %>
                  <button id="<%= @race.name %>" type="button" class="btn btn-success btn-oval btn-outline">
                    <em class="fa fa-plus fa-fw text-muted text-success"></em>
                    <span>Partecipa</span>
                  </button>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <% if @race.owner == current_user %>
      <div class="panel-body bb">
        <div class="clearfix text-center">
          <div class="btn-group-vertical">
            <%= link_to 'Metti in evidenza', pay_for_join_race_path(@race), class: 'btn btn-info' %>
            <%= link_to 'Crea una pagina per trovare i clienti', pay_for_join_race_path(@race), class: 'btn btn-info btn-lg' %>

            <% if @race.kind == 'pay_for_join' %>
              <%= link_to 'Rendi partecipabile da tutti', publish_race_path(@race), class: 'btn btn-info btn-lg' %>
            <% else %>
              <%= link_to 'Rendi la gara privata', publish_race_path(@race), class: 'btn btn-warning btn-lg' %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <ul class="list-inline mv">
          <% if @race.kind == 'pay_for_publish'%>
            <li>
              <div class="badge p-sm bg-info">Pubblica</div>
            </li>
          <% elsif @race.kind == 'pay_for_join'%>
            <li>
              <div class="badge p-sm bg-info">Privata</div>
            </li>
          <% end %>

          <% if @race.featured? %>
            <li>
              <div class="badge p-sm bg-info">Evidenziata</div>
            </li>
          <% end %>
          <li>
            <div class="badge p-sm bg-info">landing page</div>
          </li>
        </ul>
      </div>
      <% end %>
      <table class="table bb">
        <tbody>
        <tr>
          <td>
            <strong>Creatore</strong>
          </td>
          <td><%= @race.owner.name %></td>
        </tr>
        <tr>
          <td>
            <strong>Ramo rischio</strong>
          </td>
          <td><%= @race.category.name %></td>
        </tr>
        <tr>
          <td>
            <strong>Destinatari</strong>
          </td>
          <td><%= @race.recipients %></td>
        </tr>
        <tr>
          <td>
            <strong>Numero di pezzi</strong>
          </td>
          <td><%= @race.pieces_amount %></td>
        </tr>
        <tr>
          <td>
            <strong>Fisso per pezzo</strong>
          </td>
          <td><%= number_to_currency @race.compensation_start_amount, unit: '€' %></td>
        </tr>
        <tr>
          <td>
            <strong>Partecipanti/Massimo</strong>
          </td>
          <td><%= @race.attendees.count %> / <%= @race.max_attendees %></td>
        </tr>
        <tr>
          <td>
            <strong>Iniziata / Termina</strong>
          </td>
          <td><%= @race.starts_at.strftime('%d/%m/%Y') %> - <%= @race.ends_at.strftime('%d/%m/%Y') %></td>
        </tr>
        </tbody>
      </table>
    </div>
    <!-- end Aside panel-->
  </div>
</div>

<%# render partial: 'layouts/modals/pay_for_publish_modal' %>