<h3>Ecco la gara <%= @race.name %>
  <!--<small>In lacinia tellus vitae nisl consectetur pellentesque.</small>-->
</h3>
<div class="row">
  <div class="col-lg-8">
    <!-- Main panel-->
    <div class="panel b">
      <div class="panel-heading">
        <div class="pull-right mt">
          <div class="label label-info">started</div>
        </div>
        <h4 class="mv">
          <span><%= @race.name %></span>
        </h4>
      </div>
      <div class="panel-body bb bt">
        <div>
          <h4 class="inline">Valore della gara</h4>
          <h4 class="inline pull-right">% remunerazione</h4>
        </div>
        <div>
          <h4 class="inline"><%= number_to_currency @race.race_value, unit: '€' %></h4>
          <h4 class="inline pull-right"><%= @race.compensation_amount %>%</h4>
        </div>
      </div>
      <div class="panel-body">
        <h4>Description</h4>
        <p><%= @race.description %></p>
        <p class="text-right">
          <button type="button" class="btn btn-default">View all documents</button>
        </p>
      </div>
      <div class="panel-body">
        <p>
          <h4 class="pull-left">Pezzi</h4>
        <div data-sparkline="" data-type="line" data-height="100" data-width="100%" data-line-width="3" data-line-color="#23b7e5" data-chart-range-min="0" data-spot-color="#888" data-min-spot-color="#23b7e5" data-max-spot-color="#23b7e5"
             data-fill-color="#e5f2fa" data-highlight-line-color="#fff" data-spot-radius="5" values="2,4,5,6,10,7,8,5,7,7,11,8,6,9,11,9,13,14,12,16" data-resize="true" class="sparkline text-center"></div>
        </p>
      </div>
      <div class="panel-body">
        <div class="row text-center">
          <div class="col-xs-4">
            <div class="inline">
              <div data-sparkline="" values="20,80" data-type="pie" data-height="60" data-slice-colors="[&quot;#edf1f2&quot;, &quot;#23b7e5&quot;]" class="sparkline"></div>
            </div>
            <p class="mt-lg">Completati</p>
          </div>
          <div class="col-xs-4">
            <div class="inline">
              <div data-sparkline="" values="60,40" data-type="pie" data-height="60" data-slice-colors="[&quot;#edf1f2&quot;, &quot;#27c24c&quot;]" class="sparkline"></div>
            </div>
            <p class="mt-lg">Disponibili</p>
          </div>
          <div class="col-xs-4">
            <div class="inline">
              <div data-sparkline="" values="90,10" data-type="pie" data-height="60" data-slice-colors="[&quot;#edf1f2&quot;, &quot;#ff902b&quot;]" class="sparkline"></div>
            </div>
            <p class="mt-lg">Assegnati</p>
          </div>
        </div>
      </div>
    </div>
    <!-- End Main panel-->
    <!-- End Team messages-->
  </div>
  <div class="col-lg-4">
    <!-- Aside panel-->
    <div class="panel b">
      <div class="panel-body bb">
        <div class="clearfix">
          <div class="pull-left">
            <button type="button" class="btn btn-default btn-oval">
              <em class="fa fa-play fa-fw text-muted"></em>
              <span>Start</span>
            </button>
            <button type="button" class="btn btn-default btn-oval">
              <em class="fa fa-pause fa-fw text-muted"></em>
              <span>Pause</span>
            </button>
          </div>
          <div class="pull-right">
            <button type="button" class="btn btn-danger btn-oval">Cancel</button>
          </div>
        </div>
      </div>
      <div class="panel-body bb">
        <div class="table-grid table-grid-align-middle mv">
          <div class="col">
            <div class="progress progress-xs m0">
              <div class="progress-bar progress-bar-info" style="width:48%"></div>
            </div>
          </div>
          <div class="col wd-xxs text-right">
            <div class="text-bold text-muted">48%</div>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <ul class="list-inline mv">
          <li>
            <div class="badge p-sm bg-warning">Pubbilcato</div>
          </li>
          <li>
            <div class="badge p-sm bg-gray">Bozza</div>
          </li>
          <li>
            <div class="badge p-sm bg-gray">stand-by</div>
          </li>
          <li>
            <div class="badge p-sm bg-gray">in evidenza</div>
          </li>
          <li>
            <div class="badge p-sm bg-gray">landing page</div>
          </li>
        </ul>
      </div>
      <table class="table bb">
        <tbody>
        <tr>
          <td>
            <strong>Start date</strong>
          </td>
          <td><%= @race.starts_at.strftime('%d/%m/%Y') %></td>
        </tr>
        <tr>
          <td>
            <strong>End date</strong>
          </td>
          <td><%= @race.ends_at.strftime('%d/%m/%Y') %></td>
        </tr>
        <tr>
          <td>
            <strong>Commits</strong>
          </td>
          <td>140</td>
        </tr>
        <tr>
          <td>
            <strong>Issues</strong>
          </td>
          <td>39</td>
        </tr>
        <tr>
          <td>
            <strong>Files</strong>
          </td>
          <td>87</td>
        </tr>
        <tr>
          <td>
            <strong>Members</strong>
          </td>
          <td>
            <p>Tara Sanders</p>
            <p>Alan Smith</p>
            <p>Priscilla Peters</p>
            <p>Madison Willis</p>
            <p>Lesa Marshall</p>
            <p>Kylie Freeman</p>
          </td>
        </tr>
        <tr>
          <td>
            <strong>Recent files</strong>
          </td>
          <td>
            <div data-height="120" data-scrollable="" class="list-group">
              <table class="table table-bordered bg-transparent">
                <tbody>
                <tr>
                  <td>
                    <em class="fa fa-lg fa-file-code-o"></em>
                  </td>
                  <td><a href="#" class="text-muted">database.controller.js</a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <em class="fa fa-lg fa-file-image-o"></em>
                  </td>
                  <td><a href="#" class="text-muted">baground-lg.png</a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <em class="fa fa-lg fa-file-code-o"></em>
                  </td>
                  <td><a href="#" class="text-muted">picture.controller.js</a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <em class="fa fa-lg fa-file-word-o"></em>
                  </td>
                  <td><a href="#" class="text-muted">applicat-diagrams.docx</a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <em class="fa fa-lg fa-file-code-o"></em>
                  </td>
                  <td><a href="#" class="text-muted">database.controller.js</a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <em class="fa fa-lg fa-file-code-o"></em>
                  </td>
                  <td><a href="#" class="text-muted">database.controller.js</a>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
      <p class="text-right"><a href="#" class="btn btn-link">Open repository</a>
      </p>
    </div>
    <!-- end Aside panel-->
  </div>
</div>
