<div class="row">
  <div class="col-md-12 hidden-xs hidden-sm hidden-md">
    <%= render partial: "races/partials/races/filter_desktop", :locals => { :path_to_go => user_races_path(current_user) } %>
  </div>
  <div class="hidden-lg col-xs-12">
    <button type="button" data-toggle="modal" data-target="#filterModal" class="btn btn-primary btn-xl btn-pill-left pull-right">Filtra e ordina</button>
    <%= content_for :body_area do %>
      <%= render partial: "races/partials/races/filter_mobile_modal", :locals => { :path_to_go => user_races_path(current_user)} %>
    <% end %>
  </div>
</div>
<br class="hidden-lg">
<div class="row text">
  <!--ALl Races-->
  <% if @races.empty? %>
    <div class="text-center">
      <p class="lead">Non hai ancora creato una gara,</p>
      <p class="lead">cosa aspetti?</p>
      <%= link_to(new_race_path, class:'btn btn-success btn-oval btn-xl', id:'plus_nuova_gara') do %>
        &nbsp
        <em class="fa fa-plus"></em>
        &nbsp
      <% end %>
    </div>
  <% else %>
    <%= render partial: "races/partials/races/all" %>
  <% end %>
</div>