
  <div class="row">
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-12">
          <div class="panel b">
            <div class="panel-heading bg-gray-lighter text-bold">IMPOSTAZIONI</div>
            <div class="list-group">
              <a href="#tabSetting1" data-toggle="tab" class="list-group-item setting-line-item">Generale</a>
              <a href="#tabSetting2" data-toggle="tab" class="list-group-item setting-line-item">Password</a>
              <a href="#tabSetting3" data-toggle="tab" class="list-group-item setting-line-item">Notifiche</a>
              <%= link_to "Abbonamenti", plans_user_path, class:"list-group-item setting-line-item" %>
              <a href="#tabSetting5" data-toggle="tab" class="list-group-item setting-line-item">Fatture</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="tab-content p0 b0">
        <div id="tabSetting1" class="tab-pane active">
          <%= render 'users/partials/form_account' %>
        </div>
        <div id="tabSetting2" class="tab-pane">
          <%= render 'users/partials/form_password' %>
        </div>
        <div id="tabSetting3" class="tab-pane">
          <%= render partial: "users/partials/form_notification" %>
        </div>
        <div id="tabSetting5" class="tab-pane">
          <%= render partial: "users/partials/form_billing" %>
        </div>
      </div>
    </div>
  </div>
