<div class="container container-xl">
  <div class="text-center mv-lg pv-lg">
    <div class="h2 text-bold">Abbonamenti mirati per le esigenze di ognuno.</div>
    <p>Scegli in base a se vuoi creare gare o partecipare a queste.</p>
  </div>
  <!-- START PLAN TABLE-->
  <div class="row">


    <% Plan.order(amount: :asc).all.each do |plan| %>
      <!-- PLAN-->
      <div class="col-md-3">
        <div class="panel b">
          <div class="panel-body text-center bb">
            <div class="text-bold">
              <%= t("activerecord.attributes.user.roles.#{plan.stripe_id}") %>
            </div>
            <h3 class="mv-lg"><sup>€</sup>
              <span class="text-lg"><%= plan.amount / 100 %> </span>
              <span class="text-xs">/mese</span>
            </h3>
          </div>
          <%= render "users/partials/plan_#{plan.stripe_id}_account" %>
          <div class="panel-body text-center">
            <% if plan.stripe_id == 'basic' %>
              <p class="text-muted">Gratis</p>
            <% else%>
              <% if !@user.billable? %>
                <p class="text-danger">
                  Completa il tuo profilo personale prima.
                  <br>
                  <%= link_to 'Vai al mio profilo', edit_user_path(current_user) %>
                </p>
              <% else %>
                <% if @user.already_subscribed_to?(plan.stripe_id) %>
                  <%= render 'payola/subscriptions/cancel', subscription: @user.subscription,
                             button_text: "Cancella iscrizione"
                  %>
                <% else %>
                  <%= render 'payola/subscriptions/checkout', plan: plan,
                             email:current_user.email,
                             button_text: "Abbonati con un click!"
                  %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <p class="text-center text-muted">
    <small>* i prezzi sono IVA esclusa, servizio soggetto a condizioni e termini d'uso.</small>
  </p>
</div>
