<div class="block-center mt-xl wd-xl">
  <!-- START panel-->
  <div class="panel panel-dark panel-flat">
    <div class="panel-heading text-center">
      <a href="#">
        <img src="<%= image_path('angle/logo.png') %>" alt="Image" class="block-center img-rounded" />
      </a>
    </div>
    <div class="panel-body">
      <p class="text-center pv">Cambia la tua password</p>
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <p><%= devise_error_messages! %></p>
        <%= f.hidden_field :reset_password_token %>
        <p class="text-center">Inserisci la tua email per ricevere le istruzioni su come resettare la password</p>

        <div class="form-group has-feedback">
          <%= f.label :password, "New password" %><br />
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em><br />
          <% end %>
          <%= f.password_field :password, autofocus: true, autocomplete: "off", class:'form-control' %>

        </div>

        <div class="form-group has-feedback">
          <%= f.label :password_confirmation, "Confirm new password" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off", class:'form-control' %>
        </div>

        <%= f.submit "Cambia password", class:"btn btn-success btn-block" %>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
  <!-- END panel-->
</div>