<div class="block-center mt-xl wd-xl">
  <!-- START panel-->
  <div class="panel panel-dark panel-flat">
    <div class="panel-heading text-center">
      <a href="#">
        <img src="<%= image_path('angle/logo.png') %>" alt="Image" class="block-center img-rounded" />
      </a>
    </div>
    <div class="panel-body">
      <p class="text-center pv">Dimenticato la password?</p>
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <p class="text-center">Inserisci la tua email per ricevere le istruzioni su come resettare la password</p>
        <div class="form-group has-feedback">
          <%= f.label :email, class: 'text-muted' %><br />
          <%= f.email_field :email, autofocus: true, class: 'form-control' %>
          <span class="fa fa-envelope form-control-feedback text-muted"></span>
        </div>
        <%= f.submit "Resetta la password", class:"btn btn-danger btn-block" %>
      <% end %>
    </div>
  </div>
  <!-- END panel-->
</div>