<div class="panel panel-default">

  <div class="panel-heading">
    <div class="pull-right label label-success" data-toggle="tooltip" data-placement="left"
         data-original-title="<%= I18n.t('tooltips.attendees.confirmed_attendees') %>">
      <%= Attendee.where(race:@race, status: :confirmed).count %>
    </div>
    <div class="pull-right label label-danger" data-toggle="tooltip" data-placement="left"
         data-original-title="<%= I18n.t('tooltips.attendees.deny_attendees') %>">
      <%= Attendee.where(race:@race, status: :deny).count %></div>
    Partecipanti
  </div>
  <!-- START table-responsive-->
  <div class="table-responsive">
    <table id="attendee-table" class="table table-striped table-bordered table-hover">
      <thead>
      <tr>
        <th>Dati partecipante</th>
        <th>Provvigione</th>
        <th>Valore coperto</th>
        <th>Stato</th>
      </tr>
      </thead>
      <tbody>
      <% @race.attendees.each do |attendee| %>
        <tr>
          <td>
            <div class="media">
              <a href="#" class="pull-left">
                <% if attendee.user.image %>
                  <img src="<%= attendee.user.image %>" alt="" class="media-object img-responsive img-circle">
                <% else %>
                  <img src="<%= image_path("default_profile.png")%>" alt="" class="media-object img-responsive img-circle">
              <% end %>
              </a>
              <div class="">

                <h4 class="media-heading"><%= attendee.user.name %></h4>
                <p>
                  <%= attendee.user.kind %> /
                  Telefono: <%= attendee.user.phone %> /
                  Località: <%= attendee.user.location %>
                </p>
              </div>
            </div>
          </td>
          <td>
              <%= number_to_currency attendee.commission, unit:"€" %>
          </td>
          <td>
              <%= number_to_currency attendee.join_value, unit:"€" %>
          </td>
          <td>
            <%= form_for([@race, attendee], method: :put) do |f| %>
              <% if attendee.status == 'confirmed' %>
                <%= f.hidden_field :status, value: :deny %>
                <button id="confirm_toggle" type="submit" class="btn btn-sm btn-danger pull-right btn-circle" data-toggle="tooltip" data-placement="left"
                        data-original-title="<%= I18n.t('tooltips.attendees.deny_partecipation') %>">
                  <em class="fa fa-close"></em>
                </button>
              <% else %>
                <%= f.hidden_field :status, value: :confirmed %>
                <button id="confirm_toggle" type="submit" class="btn btn-sm btn-success pull-right " data-toggle="tooltip" data-placement="left"
                        data-original-title="<%= I18n.t('tooltips.attendees.allow_join') %>">
                  <em class="fa fa-check"></em>
                </button>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <!-- END table-responsive-->
  <div class="panel-footer">
    <div class="row">
      <!--<div class="col-lg-2">-->
        <!--<div class="input-group pull-right">-->
          <!--<select class="input-sm form-control">-->
            <!--<option value="0">Bulk action</option>-->
            <!--<option value="1">Delete</option>-->
            <!--<option value="2">Clone</option>-->
            <!--<option value="3">Export</option>-->
          <!--</select>-->
          <!--<span class="input-group-btn">-->
                  <!--<button class="btn btn-sm btn-default">Apply</button>-->
               <!--</span>-->
        <!--</div>-->
      <!--</div>-->
      <div class="col-lg-8"></div>
      <div class="col-lg- text-right">
        <!--<ul class="pagination pagination-sm">-->
          <!--<li class="active"><a href="#">1</a>-->
          <!--</li>-->
          <!--<li><a href="#">2</a>-->
          <!--</li>-->
          <!--<li><a href="#">3</a>-->
          <!--</li>-->
          <!--<li><a href="#">»</a>-->
          <!--</li>-->
        <!--</ul>-->
      </div>
    </div>
  </div>
</div>


