
<div class="panel b text-center">
  <div class="panel-body">
    <p class="h4 text-bold mb0">Controlla</p>
  </div>
  <div class="panel-body">
    <div class="row">
      <% if @race.expired? %>
        <div class="col-sm-12">
          Questa gara è finita
        </div>
      <% else %>
        <div class="col-sm-12">
          <%= form_for @race, :html => { :style => 'display:inline'} do |f| %>
            <% if @race.status == 'started' %>
              <%= f.hidden_field :status, :value => "paused" %>
              <button id="stop_button" type="submit" class="btn btn-warning btn-pill-left btn-lg">
                <em class="fa fa-pause fa-fw text-muted text-white"></em>
                <span>Ferma</span>
              </button>
            <% else %>
              <%= f.hidden_field :status, :value => "started" %>
              <button id="start_button" type="submit" class="btn btn-success btn-pill-left btn-lg">
                <em class="fa fa-play fa-fw text-muted text-white"></em>
                <span>Inizia</span>
              </button>
            <% end %>
          <% end %>
          <%= link_to edit_race_path(@race), class: "btn btn-info btn-pill-right btn-lg" do %>
            <span>Modifica gara</span>
          <% end %>
        </div>
        <br><br>
        <hr>
        <div class="col-sm-12">
          <% if @race.pay_for_publish? %>
            <%= link_to publish_race_path(@race), class: "btn btn-warning btn-oval" do %>
              <span>Rendi privata la gara</span>
            <% end %>
          <% else %>
            <%= link_to publish_race_path(@race), class: "btn btn-success btn-oval btn-xl" do %>
              <span>Rendi la gara pubblica</span>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>