<!-- Main panel-->
<div class="panel b">
  <div class="panel-heading">
    <div class="pull-right mt">
      <% if @race.started? %>
        <div class="label label-info info" data-toggle="tooltip" data-placement="left"
             data-original-title="<%= I18n.t("tooltips.races.#{@race.status}") %>">
          <%= t("activerecord.enum.statuses.#{@race.status}") %>
        </div>
      <% else %>
        <div class="label label-warning info" data-toggle="tooltip" data-placement="left"
             data-original-title="<%= I18n.t("tooltips.races.#{@race.status}") %>">
          <%= t("activerecord.enum.statuses.#{@race.status}") %>
        </div>
      <% end %>
      &nbsp;
      <% if @race.open? %>
        <div class="label label-info info" data-toggle="tooltip" data-placement="top"
             data-original-title="<%= I18n.t("tooltips.races.public_race") %>" >
          Pubblica
        </div>
      <% else %>
        <div class="label label-warning info" data-toggle="tooltip" data-placement="top"
             data-original-title="<%= I18n.t("tooltips.races.private_race") %>">
          Privata
        </div>
      <% end %>
    </div>
    <h3 class="mv">
      <small class="label label-primary"><%= @race.permalink %></small> <%= @race.name %>
    </h3>

  </div>
  <div class="panel-body bb bt">
    <div class="panel widget">
      <div class="row row-table row-flush">
        <div class="col-xs-4 bb br">
          <div class="row row-table row-flush">
            <div class="col-xs-12">
              <div class="panel-body text-center">
                <h4 class="mt0"><%= number_to_currency @race.race_value, precision:0 %></h4>
                <p class="mb0 text-muted">Obbiettivo</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-4 bb br">
          <div class="row row-table row-flush">
            <div class="col-xs-12">
              <div class="panel-body text-center">
                <h4 class="mt0"><%= number_to_currency @race.value_covered, precision:0 %></h4>
                <p class="mb0 text-muted">Obbiettivo raggiunto</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-4 bb">
          <div class="row row-table row-flush">
            <div class="col-xs-12">
              <div class="panel-body text-center">
                <h4 class="mt0"><%= number_to_currency @race.race_value - @race.value_covered, precision:0 %></h4>
                <p class="mb0 text-muted">Obbiettivo rimanente</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row row-table row-flush">
        <div class="col-xs-4 br">
          <div class="row row-table row-flush">
            <div class="col-xs-12">
              <div class="panel-body text-center">
                <h4 class="mt0">
                  <%= number_to_percentage( @race.completed_percentage, precision: 0 ) %>
                </h4>
                <p class="mb0 text-muted">Completata</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-4 br">
          <div class="row row-table row-flush">
            <div class="col-xs-12">
              <div class="panel-body text-center">
                <h4 class="mt0">
                  <%= @race.attendees.confirmed.count %>
                </h4>
                <p class="mb0 text-muted">Partecipanti</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="row row-table row-flush">
            <div class="col-xs-12">
              <div class="panel-body text-center">
                <% if @race.expired? %>
                  <h4 class="mt0">Gara finita il</h4>
                  <p class="mb0 text-muted"><%= @race.ends_at.strftime('%d/%m/%Y') %></p>
                <% else %>
                  <h4 class="mt0"><%= @race.ends_at.strftime('%d/%m/%Y')  %></h4>
                  <p class="mb0 text-muted"><%= distance_of_time_in_words(Time.now, @race.ends_at)  %> al termine</p>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="panel-body">
    <h4>Descrizione</h4>
    <p><%= @race.description %></p>
  </div>
</div>
<!-- End Main panel-->