<!-- Aside panel-->
<div class="panel b">
  <table class="table bb">
    <tbody>
    <tr>
      <td>
        <strong>Ramo rischio</strong>
      </td>
      <td><%= @race.category.name.capitalize %></td>
    </tr>
    <tr>
      <td>
        <strong>Destinatari</strong>
      </td>
      <td><%= t("activerecord.race.enum.recipients.#{@race.recipients}") %></td>
    </tr>
    <tr>
      <td>
        <strong>Fisso per pezzo</strong>
      </td>
      <td><%= number_to_currency @race.compensation_start_amount, unit: '€', precision: 0 %></td>
    </tr>
    <tr>
      <td>
        <strong>Iniziata / Termina</strong>
      </td>
      <td><%= @race.starts_at.strftime('%d/%m/%Y') %> - <%= @race.ends_at.strftime('%d/%m/%Y') %></td>
    </tr>
    </tbody>
  </table>
</div>
<!-- end Aside panel-->


