<div class="block-center mt-xl wd-xl">
  <!-- START panel-->
  <div class="panel panel-dark panel-flat">
    <div class="panel-heading text-center">
      <a href="#">
        <img src="<%= image_path('angle/logo.png') %>" alt="Image" class="block-center img-rounded" />
      </a>
    </div>
    <div class="panel-body">
      <p class="text-center pv">ENTRA E COMINCIA A VINCERE TUTTE LE TUE GARE ASSICURATIVE.</p>

      <div class="text-center pv row">
        <%- if devise_mapping.omniauthable? %>

          <%- resource_class.omniauth_providers.reverse.each do |provider| %>
            <div class="col-md-12" style="padding-bottom: 10px">
            <% if OmniAuth::Utils.camelize(provider) == 'Facebook' %>
              <%= link_to(omniauth_authorize_path(resource_name, provider), class: "btn btn-labeled btn-info btn-facebook") do  %>
                <span class="btn-label"><i class="fa fa-facebook"></i></span>
                <%= "Login con Facebook"  %>
              <% end %>
            <% elsif OmniAuth::Utils.camelize(provider) == 'GoogleOauth2' %>
              <%= link_to(omniauth_authorize_path(resource_name, provider), class: "btn btn-labeled btn-danger btn-lg") do  %>
                <span class="btn-label"><i class="fa fa-google"></i></span>
                <%= "Login con Google"  %>
              <% end %>
            <% end %>
            </div>
          <% end -%>

        <% end -%>
      </div>

      <p class="text-center pv">Il tuo account è privato non pubblicheremo mai nulla senza il tuo consenso.</p>


      <p class="text-center">oppure</p>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class:'mb-lg'}) do |f| %>

        <div class="form-group has-feedback">
          <%= f.email_field :email, autofocus: true, class:'form-control input-lg', placeholder: 'inserisci email', required:true  %>
          <span class="fa fa-envelope form-control-feedback text-muted"></span>
        </div>

        <div class="form-group has-feedback">
          <%= f.password_field :password, autocomplete: "off", class: 'form-control input-lg', required:true %>
          <span class="fa fa-lock form-control-feedback text-muted"></span>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="clearfix">
            <div class="checkbox c-checkbox pull-left mt0">
              <label>
                <%= f.check_box :remember_me, class:'input-lg' %>
                <span class="fa fa-check baseline-align"></span>Rimani collegato</label>
            </div>
          </div>
        <% end -%>

        <%= f.submit "ENTRA", class:"btn btn-block btn-primary mt-lg btn-lg" %>
      <% end %>

      <p class=" text-center">Non sei registrato?</p>
      <%= render "devise/shared/links" %>
      <!--<a href="/pages/register" class="btn btn-block btn-default">Register Now</a>-->
    </div>
  </div>
  <!-- END panel-->
</div>