<% if @race.close? and current_user.plan.stripe_id != 'pro_attendee' and !@race.expired? %>
  <div role="alert" class="alert alert-warning">
    <strong>Attenzione!</strong>
    Questa gara è privata. Puoi partecipare ancora a <%= current_user.reward.join_private %> gare private,
    dopo sarà necessario un account per partecipanti. <%= link_to "Clicca qui per cambiare piano", plans_user_path(current_user), class: "text-white" %>
  </div>
<% end %>

<% if @race.expired? %>
  <div role="alert" class="alert alert-warning">
    <strong>Attenzione!</strong> Questa gara è finita il <%= @race.ends_at.strftime('%d/%m/%Y') %>
  </div>
<% end %>

<div class="row">
  <div class="col-lg-offset-2 col-lg-8 mr0 pr0 pl0">
    <%= render partial: 'races/partials/race/attendees_partials/new_attendee_main' %>
  </div>
  <div class="col-xs-12 hidden-lg hidden-xl pull-right">
    <% if current_user.joined?(@race) %>
        <button id="open_join_modal" type="button" data-toggle="modal" data-target="#joinModal" class="btn btn-info btn-pill-left btn-lg ml0 pl0" >
          <em class="fa fa-pencil fa-fw text-muted text-white"></em>
          <span>Modifica</span>
        </button>
        <%= form_for([@race, current_user.participation(@race)], method: :delete, :html => {:style => 'display:inline;'}) do |f| %>
          <button id="<%= @race.permalink %>" type="submit" class="btn btn-info btn-pill-right btn-danger btn-lg ml0 pl0">
            <em class="fa fa-times fa-fw text-muted text-white"></em>
            <span>LASCIA GARA</span>
          </button>
        <% end %>
    <% end %>
  </div>

  <div class="col-lg-2 ml0 pl0 hidden-xs hidden-md">
    <% if current_user.joined?(@race) %>
      <div class="col-lg-12 ml0 pl0">
        <br>
        <br>
        <button id="open_join_modal" type="button" data-toggle="modal" data-target="#joinModal" class="btn btn-info btn-pill-right btn-lg ml0 pl0" >
          <em class="fa fa-plus fa-fw text-muted text-white"></em>
          <span>AGGIUNGI RIMUOVI PEZZI</span>
        </button>
        <br>
        <%= form_for([@race, current_user.participation(@race)], method: :delete, :html => {:style => 'display:inline;'}) do |f| %>
          <button id="<%= @race.permalink %>" type="submit" class="btn btn-info btn-pill-right btn-danger btn-lg ml0 pl0">
            <em class="fa fa-times fa-fw text-muted text-white"></em>
            <span>LASCIA GARA</span>
          </button>
        <% end %>
      </div>
    <% end %>

  </div>
</div>

<% content_for :body_area do %>
  <%= render partial: 'attendees/partials/modal_join', :locals => { :attendee => current_user } %>
<% end %>

<% unless current_user.valid_attribute?(:rui) %>
  <%= render partial: 'layouts/modals/rui_modal' %>
<% end %>

