<% if @race.close? and current_user.plan.stripe_id != 'pro_attendee' and !@race.expired? %>
  <div role="alert" class="alert alert-warning">
    <strong>Attenzione!</strong>
    Questa gara è privata. Puoi partecipare ancora a <%= current_user.reward.join_private %> gare private,
    dopo sarà necessario un account per partecipanti. <%= link_to "Clicca qui per cambiare piano", plans_user_path(current_user), class: "text-white" %>
  </div>
<% end %>

<% if @race.expired? %>
  <div role="alert" class="alert alert-warning">
    <strong>Attenzione!</strong> Questa gara è finita il <%= @race.ends_at.strftime('%d/%m/%Y') %>
  </div>
<% end %>

<div class="row">
  <div class="col-lg-8">
    <%= render partial: 'races/partials/race/attendees_partials/show_attendees_main' %>
  </div>
  <div class="col-lg-4">
    <% unless @race.expired? %>
      <%= render partial: 'races/partials/race/attendees_partials/attendees_actions' %>
    <% end %>

    <% if current_user.joined?(@race) %>
      <%= render partial: 'races/partials/race/attendees_partials/owner_profile' %>
    <% else %>
      <%= render partial: 'races/partials/race/attendees_partials/owner_hidden' %>
    <% end %>

  </div>
</div>


<% content_for :body_area do %>
  <%= render partial: 'attendees/partials/modal_join' %>
  <%= render partial: 'attendees/partials/modal_edit_form' if current_user.participation(@race) %>
<% end %>

<% unless current_user.valid_attribute?(:rui) %>
  <%= render partial: 'layouts/modals/rui_modal' %>
<% end %>

