<table id="userRaceTable" class="table table-hover">
  <thead>
  <tr>
    <th>ID / Nome</th>
    <th class="sort-alpha">Ramo</th>
    <th class="visible-lg sort-numeric">Obbiettivo</th>
    <th class="visible-lg sort-numeric">Raggiunto</th>
    <th class="visible-lg sort-numeric">Rimanente</th>
    <th class="visible-lg sort-numeric">Partecipanti</th>
    <th class="visible-lg">Likes</th>
    <th>Scadenza</th>
  </tr>
  </thead>
  <tbody>
  <% @races.each do |race| %>
    <tr class="gradeX">
      <td class="lead">
        <span class="actions hidden">
          <small>
            <%= link_to "Mostra", race_path(race), class:'btn btn-xs btn-primary btn-outline' %>
          </small><br>
        </span>
        <div class="label label-success"><%= race.permalink %></div>
        / <%= race.name.capitalize %>
      </td>
      <td><%= race.category.name.upcase %></td>
      <td class="visible-lg"><%= number_to_currency race.race_value,      precision: 0 %></td>
      <td class="visible-lg"><%= number_to_currency race.value_covered,   precision: 0 %></td>
      <td class="visible-lg"><%= number_to_currency race.remaining_value, precision: 0 %></td>
      <td class="visible-lg"><%= number_to_human race.attendees.count %></td>
      <td class="visible-lg"><%= number_to_human race.likes.count %></td>
      <td><%= race.ends_at.strftime('%d/%m/%Y') %></td>
    </tr>
  <% end %>
  </tbody>
</table>
