<%= form_tag path_to_go, method: :get do %>
  <div class="panel widget" style="overflow: unset;">
    <div class="row row-table row-flush">
      <div class="col-xs-2 bb br">
        <div class="row row-table row-flush">
          <div class="col-xs-8">
            <div class="panel-body text-center">
              <h4 class="mt0">Filtra</h4>
              <!--<p class="fa">-->
                <a href="races" class="btn btn-danger btn-xs">
                  Resetta filtri
                </a>
              <!--</p>-->
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-2 bb br">
        <div class="row row-table row-flush">
          <div class="col-xs-12">
            <div class="panel-body">
                <%= grouped_collection_select(nil,:category_id, Category.find_by_name('assicurazioni').children,
                                                :children, :name, :id ,:name,
                                                {:include_blank => "Seleziona"},
                                                {:class=>'chosen-select input-md form-control m-b',
                                                 :id => "category",
                                                 :onchange => "this.form.submit();"}) -%>
              <p class="mb0 text-muted text-center">CATEGORIA</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-2 bb br">
        <div class="row row-table row-flush">
          <div class="col-xs-8">
            <div class="panel-body text-center">
              <h4 class="mt0">Ordina</h4>
              <p class="fa fa-arrow-right"></p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-2 bb br">
        <div class="row row-table row-flush">
          <div class="col-xs-8">
            <div class="panel-body text-center">
                <%= select_tag "sort",
                               raw("<option></option><option value='DESC'>alte</option><option value='ASC'>basse</option>"),
                               :onchange => "this.form.submit();"  %>
              <p class="mb0 text-muted">PROVVIGIONE</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-2 bb br">
        <div class="row row-table row-flush">
          <div class="col-xs-8">
            <div class="panel-body text-center">
              <%= select_tag "sort",
                             raw("<option></option><option value='ASC'>Pubblica</option><option value='DESC'>Privata</option>"),
                             :onchange => "this.form.submit();"  %>
              <p class="mb0 text-muted">PUBBLICHE/PRIVATE</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-2 bb br">
        <div class="row row-table row-flush">
          <div class="col-xs-8">
            <div class="panel-body text-center">
              <%= select_tag "sort",
                             raw("<option></option><option value='ASC'>Appena iniziate</option><option value='DESC'>In scadenza</option>"),
                             :onchange => "this.form.submit();"  %>
              <p class="mb0 text-muted">SCADENZA</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
<% end %>