<% @races.each do |race| %>
  <div class="col-lg-4 col-md-6">
    <div class="panel b">
      <% if race.kind == 'open' %>
        <div class="panel-heading bg-info">
          <div class="pull-right">
            <% if race.expired? %>
              <div class="label label-danger info" data-toggle="tooltip" data-placement="left" data-original-title="<%= I18n.t('tooltips.races.private_race') %>">
                Scaduta
              </div>
            <% end %>&nbsp
            <div class="label label-sucess info" data-toggle="tooltip" data-placement="left" data-original-title="<%= I18n.t('tooltips.races.public_race') %>">
              Pubblica
            </div>
          </div>
          <h4 class="m0">
            <%= race.category.name.humanize %>
            <small>
              <% if race.expired? %>
                scaduta
              <% else %>
                scade tra
              <% end %>
              <%= distance_of_time_in_words(Time.now, race.ends_at)  %>
            </small>
          </h4>
        </div>
    <% else %>
        <div class="panel-heading bg-warning" >
          <div class="pull-right">
            <% if race.expired? %>
              <div class="label label-danger info" data-toggle="tooltip" data-placement="left" data-original-title="<%= I18n.t('tooltips.races.private_race') %>">
                Scaduta
              </div>
            <% end %>&nbsp
            <div class="label label-warning info" data-toggle="tooltip" data-placement="left" data-original-title="<%= I18n.t('tooltips.races.private_race') %>">
              Privata
            </div>
          </div>
          <h4 class="m0">
            <%= race.category.name.humanize %>
            <small>
              <% if race.expired? %>
                scaduta
              <% else %>
                scade tra
              <% end %>
              <%= distance_of_time_in_words(Time.now, race.ends_at)  %>
            </small>
          </h4>
        </div>
    <% end %>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-6 br text-center">
            <em class="fa fa-thumbs-up fa-fw text-primary"></em>
            <strong><%= number_to_human race.likes.count %></strong>
          </div>
          <div class="col-xs-6 text-center">
            <em class="fa fa-users fa-fw text-info"></em>
            <strong><%= number_to_human race.attendees.confirmed.count %></strong>
          </div>

        </div>
        <br>
        <%= race_progress_bar(race) %>
        <br>

        <div class="row row-table row-flush">
          <div class="col-xs-6 bb br">
            <div class="row row-table row-flush">
              <div class="col-xs-12">
                <div class="panel-body text-center" >
                  <h4 class="mt0"><%= number_to_human race.race_value - race.value_covered %> €</h4>
                  <p class="mb0 text-muted">
                    Obbiettivo rimanente
                  </p>
                  <%= tooltip_widget(:races, :remain_value) %>
                </div>
              </div>

            </div>
          </div>
          <div class="col-xs-6 bb">
            <div class="row row-table row-flush">
              <div class="col-xs-12">
                <div class="panel-body text-center">
                  <h4 class="mt0"><%# number_to_percentage race.commission, precision:0 %></h4>
                  <p class="mb0 text-muted">
                    Provvigione
                  </p>
                  <%= tooltip_widget(:races, :commission) %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row row-table row-flush">
          <div class="col-xs-6 br">
            <div class="row row-table row-flush">
              <div class="col-xs-12">
                <div class="panel-body text-center">
                  <h4 class="mt0"><%= race.category.name.humanize %></h4>
                  <p class="mb0 text-muted">
                    Ramo
                  </p>
                  <%= tooltip_widget(:races, :category) %>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="row row-table row-flush">
              <div class="col-xs-12">
                <div class="panel-body text-center">
                  <% if race.expired? %>
                    <h4 class="mt0">fine gara</h4>
                    <p class="mb0 text-muted"><%= distance_of_time_in_words(Time.now, race.ends_at)  %></p>
                  <% else %>
                    <h4 class="mt0"><%= race.ends_at.strftime('%d/%m/%Y') %></h4>
                    <p class="mb0 text-muted">fine gara</p>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%= link_to(race_path(race), class:"no-decoration", id:race.name) do %>
        <div class="panel-footer text-center btn-info bg-info">
          <% if current_user.owner?(race) %>
            <p>Guarda e modifica</p>
          <% else %>
            <p>Scopri</p>
          <% end %>
      </div>
      <% end %>
    </div>
  </div>
<% end %>
