<% @races.each do |race| %>
<div class="col-lg-4 col-md-6 filtr-item" data-category="<%= race.category.id %>" data-sort="<%= race.id %>">
  <div class="panel b text-center">
    <div style="margin-right: 4px; margin-top: 4px;">
      <%= tooltip_widget(:races, :panel_help, 'pull-right') %>
    </div>
    <div class="panel-body">
      <%= tooltip_widget(:races,
                         race.open? ? :open_race : :close_race  ,
                         "nil",
                         race.open? ? "fa fa-unlock text-success fa-3x" : "fa fa-lock text-warning fa-3x") %>
      <h2 class="h2">
        <small><%= tooltip_widget(:races, :category, 'fa-code-fork') %></small>
        &nbsp;
        <%= race.category.name.humanize %> |  <%= number_to_currency race.remaining_value, precision:0  %>
        &nbsp;
        <small><%= tooltip_widget(:races, :remaining_value, 'fa-money') %></small>
      </h2>
      <p>
        <% if race.expired? %>
          fine gara
          <%= distance_of_time_in_words(Time.now, race.ends_at)  %>
        <% else %>
          <%= race.ends_at.strftime('%d/%m/%Y') %>
          fine gara.
        <% end %>
      </p>
      <div class="b bg-gray-lighter">
        <%# tooltip_widget(:commissions, :table) %>
        <table class="table">
          <thead>
          <tr>
            <% race.commissions.each do |commission| %>
              <th class="text-center pb0 pt0">
                <%= commission.duration  %> anni
              </th>
            <% end %>
          </tr>
          </thead>
          <tbody>
          <tr>
            <% race.commissions.each do |commission| %>
              <td class="text-center pb0">
                <%= number_to_percentage commission.value %>
              </td>
            <% end %>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="">
        <br>
        <% if current_user.owner?(race) %>
          <%= link_to("Guarda e modifica", race_path(race), class:"btn btn-primary btn-oval", id: race.name) %>
        <% else %>
          <%= link_to("Scopri", race_path(race), class:"btn btn-success btn-oval", id: race.name) %>
        <% end %>
      </div>
    </div>
    <div class="panel-body bt">
      <div class="row">
        <div class="col-xs-4 br">
          <%= tooltip_widget(:races, :attendees, 'fa-users fa-fw text-info') %>
          <strong>+<%= race.attendees.count %></strong>
        </div>
        <div class="col-xs-4 br">
          <%= tooltip_widget(:races, :compensation_start_amount, 'fa-puzzle-piece fa-fw text-info') %>
          <strong><%= number_to_currency race.compensation_start_amount, precision: 0%></strong>
        </div>
        <div class="col-xs-4">
          <%= tooltip_widget(:races, :likes, 'fa-thumbs-o-up fa-fw text-primary') %>
          <strong>+<%= race.likes.count %></strong>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>