 <div class="panel b text-center">
   <div class="panel-body">
     <div>
      <%= tooltip_widget(:races, :panel_help, 'pull-right') %>
    </div>
     <div class="row">
       <div class="col-lg-12">

        <%= tooltip_widget(:races,
                           @race.open? ? :open_race : :close_race  ,
                           @race.open? ? "icon-lock-open  text-success fa-3x" : "icon-lock  text-warning fa-3x") %>
        <h2 class="h2">
          <span><%= tooltip_widget(:races, :category, 'fa-code-fork') %></span>
          &nbsp;
          <%= @race.category.name.humanize %> |  <%= number_to_currency @race.remaining_value, precision:0  %>
          &nbsp;
          <span><%= tooltip_widget(:races, :remaining_value, 'fa-money') %></span>            </h2>
      </div>
       <div class="col-lg-offset-2 col-lg-8">
        <p>
          <% if @race.expired? %>
            fine gara
            <%= distance_of_time_in_words(Time.now, @race.ends_at)  %>
          <% else %>
            <%= @race.ends_at.strftime('%d/%m/%Y') %>
            fine gara.
          <% end %>
        </p>
      </div>
       <div class="col-lg-offset-1 col-lg-10 bg-gray-lighter b" style="padding-bottom: 15px;">
        <%# tooltip_widget(:commissions, :table) %>
        <table class="table">
          <thead>
          <tr>
            <th class="text-center">

            </th>
            <% @race.commissions.each do |commission| %>
              <th class="text-center">
                <%= commission.starts == 0 ? "" : "" + commission.starts.to_s + "°/" %><%= commission.ends %>° anno
              </th>
            <% end %>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th class="text-center lead">
              Provvigione
            </th>
            <% @race.commissions.each do |commission| %>
              <td class="lead">
                <%= number_to_percentage commission.value %>
              </td>
            <% end %>
          </tr>
          <% if current_user.joined?(@race) %>
            <tr class="bg-green">
              <th class="text-center lead">
                Guadagni
              </th>
              <% @race.commissions.each do |commission| %>
                <td class="lead">
                  <%= number_to_currency current_user.attendee(@race).revenue_by(commission), precision:0, unit:'€' %>
                </td>
              <% end %>
              <br>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
       <div class="col-lg-offset-1 col-lg-10">
        <br>
        <% if current_user.joined?(@race) %>
          <img src="<%= @race.owner.image %>" class="img-circle thumb64">
          <p class="h4 text-bold mb0"><%= @race.owner.name %></p>
          <p><%= @race.owner.email %></p>
          <p><%= @race.owner.phone %></p>
          <p><%= @race.owner.city %></p>
          <p><%= @race.description %></p>
        <% else %>
          <p>
            Il creatore ha è di Milano e ha il 90% premi pagati, partecipando avrai le informazioni per contattarlo.
          </p>
        <% end %>
      </div>
       <div class="col-lg-offset-2 col-lg-8">
        <% if current_user.joined?(@race) %>
            <div class="col-lg-12">
              <%= form_for([@race, current_user.participation(@race)], method: :delete, :html => {:style => 'display:inline;'}) do |f| %>
                <button id="<%= @race.permalink %>" type="submit" class="btn btn-info btn-pill-left btn-warning">
                  <em class="fa fa-minus fa-fw text-muted text-white"></em>
                  <span>Lascia gara</span>
                </button>
              <% end %>
              <button id="open_join_modal" type="button" data-toggle="modal" data-target="#joinModal" class="btn btn-info btn-pill-right" >
                <!--<em class="fa fa-plus fa-fw text-muted text-white"></em>-->
                <span>Aggiungi o rimuovi un pezzo</span>
              </button>
            </div>
      <% else %>
          <% unless @race.expired? %>
            <div class="col-lg-12">
              <button id="open_join_modal" type="button" data-toggle="modal" data-target="#joinModal" class="btn btn-primary btn-lg btn-oval" >
                <span>PARTECIPA</span>
              </button>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
   <div class="panel-body bt">
    <div class="row">
      <div class="col-xs-4 br">
        <em class="fa fa-users fa-fw text-info"></em>
        <strong>+<%= @race.attendees.count %></strong>
      </div>
      <div class="col-xs-4 br">
        <em class="fa fa-barcode fa-fw text-inverse"></em>
        <strong><%= @race.permalink %></strong>
      </div>
      <div id="like_widget" class="col-xs-4">
        <% if @race.already_liked_by_user(current_user) %>
          <%= likes_counter_widget(@race.likes.count) %>
        <% else %>
          <%= likes_button_widget(current_user.id, @race.id, @race.likes.count) %>
        <% end %>
        <!--<em class="fa fa-thumbs-o-up fa-fw text-primary"></em>-->
        <strong><%# @race.likes.count %></strong>
      </div>
    </div>
  </div>
 </div>