 <div class="panel b text-center">
   <div class="panel-body">
     <div>
      <%= tooltip_widget(:races, :panel_help, 'pull-right') %>
    </div>
     <div class="row">
       <div class="col-lg-12">

        <%= tooltip_widget(:races,
                           @race.open? ? :open_race : :close_race  ,
                           @race.open? ? "icon-lock-open  text-success fa-3x" : "icon-lock  text-warning fa-3x") %>
        <h2 class="h2">
          <span><%= tooltip_widget(:races, :category, 'fa-code-fork') %></span>
          &nbsp;
          <%= @race.category.name.humanize %> |  <%= number_to_currency @race.remaining_value, precision:2  %>
          &nbsp;
          <span><%= tooltip_widget(:races, :remaining_value, 'fa-money') %></span>
        </h2>
      </div>
       <div class="col-lg-offset-2 col-lg-8">
        <p>
          <% if @race.expired? %>
            fine gara
            <%= distance_of_time_in_words(Time.now, @race.ends_at)  %>
          <% else %>
            <%= @race.ends_at.strftime('%d/%m/%Y') %>
            fine gara.
          <% end %>
        </p>
      </div>
       <div class="col-lg-offset-1 col-lg-10" style="padding-bottom: 15px;">
         <%= render partial: "races/partials/revenue_table", :locals => { user: current_user } %>
       </div>
       <div class="col-lg-offset-1 col-lg-10">
        <br>
        <% if current_user.joined?(@race) %>
           <div>
             <small>Creato da</small>
           </div>
           <%= image_profile_widget(@race.owner.id) %>
           <p class="h4 text-bold mb0"><%= @race.owner.name %></p>
          <p><%= @race.owner.email %></p>
          <p><%= @race.owner.phone %></p>
          <p><%= @race.owner.city %></p>
          <p><%= @race.owner.rui %></p>
          <p><%= @race.description %></p>
        <% else %>
          <p>
            Puoi avere maggiori informazioni sia sulla gara che sul creatore partecipando alla gara.
          </p>
        <% end %>
      </div>
       <div class="col-lg-offset-2 col-lg-8">
        <% unless current_user.joined?(@race) or @race.expired? %>
            <div class="col-lg-12">
              <button id="open_join_modal" type="button" data-toggle="modal" data-target="#joinModal" class="btn btn-primary btn-lg btn-oval" >
                <span>PARTECIPA</span>
              </button>
            </div>
        <% end %>
      </div>
    </div>
  </div>
   <div class="panel-body bt">
    <div class="row">
      <div class="col-xs-4 br">
        <%= tooltip_widget(:races, :attendees,'', 'fa-users fa-fw text-info') %>
        <!--<em class="fa fa-users fa-fw text-info"></em>-->
        <strong>+<%= @race.attendees.count %></strong>
      </div>
      <div class="col-xs-4 br">
        <%= tooltip_widget(:races, :id,'', 'fa-barcode fa-fw text-inverse') %>
        <!--<em class="fa fa-barcode fa-fw text-inverse"></em>-->
        <strong><%= @race.permalink %></strong>
      </div>
      <div id="like_widget" class="col-xs-4">
        <% if @race.already_liked_by_user(current_user) %>
          <%= likes_counter_widget(@race.likes.count) %>
        <% else %>
          <%= likes_button_widget(current_user.id, @race.id, @race.likes.count) %>
        <% end %>
        <!--<em class="fa fa-thumbs-o-up fa-fw text-primary"></em>-->
        <strong><%# @race.likes.count %></strong>
      </div>
    </div>
  </div>
 </div>
