<div class="panel b text-center">
  <div class="panel-body">
    <p class="h4 text-bold mb0">Questo è il creatore</p>
  </div>
  <div class="panel-body">
    <img src="<%= @race.owner.image %>" class="img-circle thumb64">
    <p class="h4 text-bold mb0"><%= @race.owner.name %></p>
    <p><%= @race.owner.email %></p>
    <p><%= @race.owner.phone %></p>
    <p><%= @race.owner.location %></p>
  </div>
</div>