<h2 class="lead text-center">Creatore</h2>
<div class="panel b text-center">
  <div class="panel-body">
    <img src="<%= @race.owner.image %>" class="img-circle thumb64">
    <p class="h4 text-bold mb0"><%= @race.owner.name %></p>
    <p><%= @race.owner.email %></p>
    <p><%= @race.owner.phone %></p>
    <p><%= @race.owner.city %></p>
  </div>
</div>