<!-- Main panel-->
<div class="panel b">
  <div class="panel-heading">
    <div class="pull-right mt">
    </div>
    <h4 class="mv">
      <span><%= @race.name %></span>

    </h4>
  </div>
  <div class="panel-body bb bt">

    <div class="panel widget">
      <div class="row row-table row-flush">
        <div class="col-xs-6 bb br">
          <div class="row row-table row-flush">
            <div class="col-xs-4 text-center text-info">
              <em class="fa fa-dollar fa-2x"></em>
            </div>
            <div class="col-xs-8">
              <div class="panel-body text-center">
                <h4 class="mt0"><%= number_to_currency @race.race_value - @race.value_covered , unit: '€' %></h4>
                <p class="mb0 text-muted">Obbiettivo residuo</p>
              </div>
            </div>

          </div>
        </div>
        <div class="col-xs-6 bb">
          <div class="row row-table row-flush">
            <div class="col-xs-4 text-center text-info">
              <em class="fa fa-percent fa-2x"></em>
            </div>
            <div class="col-xs-8">
              <div class="panel-body text-center">
                <h4 class="mt0"><%= @race.commission %>%</h4>
                <p class="mb0 text-muted">Provvigione</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row row-table row-flush">
        <div class="col-xs-6 br">
          <div class="row row-table row-flush">
            <div class="col-xs-4 text-center text-info">
              <em class="fa fa-users fa-2x"></em>
            </div>
            <div class="col-xs-8">
              <div class="panel-body text-center">
                <h4 class="mt0"><%= @race.category.name.humanize %></h4>
                <p class="mb0 text-muted">Ramo</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="row row-table row-flush">
            <div class="col-xs-4 text-center text-info">
              <em class="fa fa-calendar-times-o fa-2x"></em>
            </div>
            <div class="col-xs-8">
              <div class="panel-body text-center">
                <h4 class="mt0"><%= distance_of_time_in_words(Time.now, @race.ends_at)  %></h4>
                <p class="mb0 text-muted">al termine</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="panel-body">
    <h4>Descrizione della gara</h4>
    <p><%= @race.description %></p>
  </div>
</div>
<!-- End Main panel-->