<!-- START Sidebar (left)-->
<div class="aside-inner">
   <nav class="sidebar" data-sidebar-anyclick-close="">
      <!-- START sidebar nav-->
      <ul class="nav">
         <!-- START user info-->
         <li class="has-user-block">
            <div id="user-block" class="">
               <div class="item user-block">
                  <!-- User picture-->
                  <div class="user-block-picture">
                     <div class="user-block-status">
                       <%= image_profile_widget(current_user.id) %>
                       <div class="circle circle-success circle-lg"></div>
                     </div>
                  </div>
                  <!-- Name and Job-->
                  <div class="user-block-info">
                     <span class="user-block-name"><%= current_user.name if current_user %></span>
                     <span class="user-block-role"> <%= User.human_enum_name(:kind, current_user.kind) %></span>
                  </div>
               </div>
            </div>
         </li>
         <!-- END user info-->
         <!-- Iterates over all sidebar items-->
        <li class="new_race_btn">
          <%= link_to(new_race_path, class:'new_race_btn', id:'new_race_btna') do %>
            <em class="icon-plus"></em>
            <span data-localize="sidebar.nav.race.INDEX">
              <%= t("controller.races.action.new.text").upcase %>
            </span>
          <% end %>
        </li>

         <li class="nav-heading">
            <span><%= t("menu.section.discover.text").upcase %></span>
         </li>

        <li id="btnDashboard" class="<%= 'active' if controller?('dashboard') && action?('dashboard') %>">
          <a href="/dashboard/dashboard" id="dashboard">
            <em class="icon-speedometer"></em>
            <span><%= t("controller.dashboard.action.dashboard.text").upcase %></span>
          </a>
        </li>

        <li id="btnIndexRaces" class="<%= 'active' if controller?('races') && action?('index') %>">
          <%= link_to(races_path, id: "races") do %>
            <em class="fa fa-bullseye"></em>
            <span data-localize="sidebar.nav.race.INDEX">
              <%= t("controller.races.action.index.text").upcase %>
            </span>
          <% end %>
        </li>

        <li class="nav-heading">
          <span><%= t("menu.section.handle.text").upcase %></span>
        </li>

        <li class="<%= 'active' if controller?('races') && action?('user_races') %>"
            data-toggle="tooltip" data-placement="top"
            data-original-title="<%= I18n.t("tooltips.sidebar.user_races") %>">
          <%= link_to(user_races_path(current_user), id:'user_races') do %>
            <em class="fa fa-road"></em>
            <span data-localize="sidebar.nav.race.INDEX">
              <%= t("controller.races.action.user_races.text").upcase %>
            </span>
          <% end %>
        </li>

        <li class="<%= 'active' if controller?('attendees') && action?('index') %>"
            data-toggle="tooltip" data-placement="top"
            data-original-title="<%= I18n.t("tooltips.sidebar.race_attendees") %>">
          <%= link_to(user_attendees_path(current_user), id:'attendee_races') do %>
            <em class="fa fa-car"></em>
            <span data-localize="sidebar.nav.race.INDEX">
              <%= t("controller.attendees.action.index.text").upcase %>
            </span>
          <% end %>
        </li>

        <li class="disabled <%= 'active' if controller?('races') && action?('private_net') %>"
            data-toggle="tooltip" data-placement="top"
            data-original-title="<%= I18n.t("tooltips.sidebar.private_net") %>">
          <%= link_to(private_network_races_path) do %>
            <em class="fa fa-road"></em>
            <span data-localize="sidebar.nav.race.INDEX">RETE VENDITA
            </span>
          <% end %>
        </li>

        <li class="nav-heading">
          <span><%= t("menu.section.other.text").upcase %></span>
        </li>
        <li class="<%= 'active' if controller?('users') && action?('edit') %>">
          <%= link_to(edit_user_path(current_user), id:"setting") do %>
            <em class="fa fa-user"></em>
            <span data-localize="sidebar.nav.race.INDEX">
              <%= t("controller.users.action.edit.text").upcase %>
            </span>
          <% end %>
        </li>

        <li>
          <%= link_to(destroy_user_session_path, method: :delete) do %>
            <em class="icon-logout"></em>
            <span data-localize="sidebar.nav.race.INDEX">LOGOUT</span>
          <% end %>
        </li>
      </ul>
      <!-- END sidebar nav-->


   </nav>

</div>
<!-- END Sidebar (left)-->