<!-- START Sidebar (left)-->
<div class="aside-inner">
   <nav class="sidebar" data-sidebar-anyclick-close="">
      <!-- START sidebar nav-->
      <ul class="nav">
         <!-- START user info-->
         <li class="has-user-block">
            <div id="user-block" class="">
               <div class="item user-block">
                  <!-- User picture-->
                  <div class="user-block-picture">
                     <div class="user-block-status">
                       <% if current_user.image  %>
                         <img src="<%= image_path(current_user.image)  %>" alt="Avatar" width="60" height="60" class="img-thumbnail img-circle" />
                         <div class="circle circle-success circle-lg"></div>
                       <% else %>
                         <img src="<%= image_path("default_profile.png")%>" alt="Avatar" width="60" height="60" class="img-thumbnail img-circle icon-user" />
                         <div class="circle circle-success circle-lg"></div>
                       <% end %>
                     </div>
                  </div>
                  <!-- Name and Job-->
                  <div class="user-block-info">
                     <span class="user-block-name">Hello, <%= current_user.name if current_user %></span>
                     <span class="user-block-role"><%= current_user.kind.capitalize %></span>
                  </div>
               </div>
            </div>
         </li>
         <!-- END user info-->
         <!-- Iterates over all sidebar items-->
        <li class="new_race_btn">
          <%= link_to(new_race_path, class:'new_race_btn') do %>
            <em class="icon-plus"></em>
            <span data-localize="sidebar.nav.race.INDEX">
              <%= t("controller.races.action.new").upcase %>
            </span>
          <% end %>
        </li>

         <li class="nav-heading">
            <span><%= t("menu.section.discover").upcase %></span>
         </li>

        <li class="<%= 'active' if controller?('dashboard') && action?('dashboard') %>">
          <a href="/dashboard/dashboard" title="Dashboard v1">
            <em class="icon-speedometer"></em>
            <span><%= t("controller.dashboard.action.dashboard").upcase %></span>
          </a>
        </li>

        <li class="<%= 'active' if controller?('races') && action?('index') %>">
          <%= link_to(races_path) do %>
            <em class="fa fa-bullseye"></em>
            <span data-localize="sidebar.nav.race.INDEX">
              <%= t("controller.races.action.index").upcase %>
            </span>
          <% end %>
        </li>

        <li class="nav-heading">
          <span><%= t("menu.section.handle").upcase %></span>
        </li>

        <li class="<%= 'active' if controller?('races') && action?('user_races') %>"
            data-toggle="tooltip" data-placement="top"
            data-original-title="<%= I18n.t("tooltips.sidebar.user_races") %>">
          <%= link_to(user_races_path current_user) do %>
            <em class="fa fa-road"></em>
            <span data-localize="sidebar.nav.race.INDEX">
              <%= t("controller.races.action.user_races").upcase %>
            </span>
          <% end %>
        </li>

        <li class="<%= 'active' if controller?('attendees') && action?('index') %>"
            data-toggle="tooltip" data-placement="top"
            data-original-title="<%= I18n.t("tooltips.sidebar.race_attendees") %>">
          <%= link_to(user_attendees_path(current_user)) do %>
            <em class="fa fa-car"></em>
            <span data-localize="sidebar.nav.race.INDEX">
              <%= t("controller.attendees.action.index").upcase %>
            </span>
          <% end %>
        </li>

        <li class="disabled <%= 'active' if controller?('races') && action?('private_net') %>"
            data-toggle="tooltip" data-placement="top"
            data-original-title="<%= I18n.t("tooltips.sidebar.private_net") %>">
          <%= link_to(root_path) do %>
            <em class="fa fa-road"></em>
            <span data-localize="sidebar.nav.race.INDEX">RETE VENDITA
            </span>
          <% end %>
        </li>

        <li class="nav-heading">
          <span><%= t("menu.section.other").upcase %></span>
        </li>
        <li class="<%= 'active' if controller?('users') && action?('edit') %>">
          <%= link_to(edit_user_path(current_user)) do %>
            <em class="fa fa-user"></em>
            <span data-localize="sidebar.nav.race.INDEX">
              <%= t("controller.users.action.edit").upcase %>
            </span>
          <% end %>
        </li>

        <li>
          <%= link_to(destroy_user_session_path, method: :delete) do %>
            <em class="icon-logout"></em>
            <span data-localize="sidebar.nav.race.INDEX">LOGOUT</span>
          <% end %>
        </li>
      </ul>
      <!-- END sidebar nav-->


   </nav>

</div>
<!-- END Sidebar (left)-->