<!-- START Top Navbar-->
<nav role="navigation" class="navbar topnavbar">
   <!-- START navbar header-->
   <div class="navbar-header">
      <a href="#/" class="navbar-brand">
         <div class="brand-logo">
            <img src="<%= image_path('angle/logo.png') %>" alt="App Logo" class="img-responsive" />
         </div>
         <div class="brand-logo-collapsed">
            <img src="<%= image_path('angle/logo-single.png') %>" alt="App Logo" class="img-responsive" />
         </div>
      </a>
   </div>
   <!-- END navbar header-->
   <!-- START Nav wrapper-->
   <div class="nav-wrapper">
      <!-- START Left navbar-->
      <ul class="nav navbar-nav">
         <li>
            <!-- Button used to collapse the left sidebar. Only visible on tablet and desktops-->
            <a href="#" data-trigger-resize="" data-toggle-state="aside-collapsed" class="hidden-xs">
               <em class="fa fa-navicon"></em>
            </a>
            <!-- Button to show/hide the sidebar on mobile. Visible on mobile only.-->
            <a href="#" data-toggle-state="aside-toggled" data-no-persist="true" class="visible-xs sidebar-toggle">
               <em class="fa fa-navicon"></em>
            </a>
         </li>
      </ul>
      <!-- END Left navbar-->
     <ul class="nav navbar-nav navbar-left visible-xs">
       <li id="back" class="br">
         <%= link_to history_back_path, id:'back-history', class:'pt1' do %>
           <em class="fa fa-2x fa-arrow-left text-muted"></em>
         <% end %>
       </li>
       <li id="back" class="">
         <h1 class="h3 text-muted" style="margin-left: 26px;margin-top: 13px;">
           <%= t("controller.#{controller_name}.action.#{action_name}") %>
         </h1>
       </li>
     </ul>
      <!-- START Right Navbar-->
      <ul class="nav navbar-nav navbar-right">
         <!--&lt;!&ndash; Search icon&ndash;&gt;-->
         <!--<li>-->
            <!--<a href="#" data-search-open="">-->
               <!--<em class="icon-magnifier"></em>-->
            <!--</a>-->
         <!--</li>-->
        <li id="notification" class="dropdown dropdown-list">
          <a href="#" data-toggle="dropdown" id="counter">
            <em class="icon-bell"></em>
            <% if @events and  @events.count > 0 %>
              <div id="event_counter" class="label label-danger"><%= @events.count %></div>
            <% else %>
            <% end %>
          </a>
          <!-- START Dropdown menu-->
          <ul class="dropdown-menu animated flipInX">
            <li>
              <!-- START list group-->
              <div class="list-group" id="events">
                <% if @events.count > 0 %>
                  <% @events.each do |event| %>
                    <%= notice_widget(event.id, event.icon, event.who_did.name, event.message, event.thing ) %>
                  <% end %>
                  <a href="<%= user_events_path(current_user) %>" class="list-group-item">
                    <small><%= t("view.topnavbar.notifications.more") %> </small>
                    <span class="label label-danger pull-right"><%= @events.count %></span>
                  </a>
                <% else %>
                  <a href="#" class="list-group-item">
                    <small><%= t("view.topnavbar.notifications.no_events") %> </small>
                    <span class="label label-danger pull-right">0</span>
                  </a>
                <% end  %>
              </div>
              <!-- END list group-->
            </li>
          </ul>
          <!-- END Dropdown menu-->
        </li>

         <!-- Fullscreen (only desktops)-->
         <li class="visible-lg">
            <a href="#" data-toggle-fullscreen="">
               <em class="fa fa-expand"></em>
            </a>
         </li>

        <li>
          <a href="#" data-toggle-state="offsidebar-open" data-no-persist="true" id="theme-options">
            <em class="icon-notebook"></em>
          </a>
        </li>
      </ul>
      <!-- END Right Navbar-->
   </div>
   <!-- END Nav wrapper-->
   <!-- START Search form-->
   <form role="search" action="search.html" class="navbar-form">
      <div class="form-group has-feedback">
         <input type="text" placeholder="Type and hit enter ..." class="form-control" />
         <div data-search-dismiss="" class="fa fa-times form-control-feedback"></div>
      </div>
      <button type="submit" class="hidden btn btn-default">Submit</button>
   </form>
   <!-- END Search form-->
</nav>
<!-- END Top Navbar-->