<!DOCTYPE html>
<html lang="it">

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
   <meta name="description" content="La prima app per vincera gare di produzione assicurative, ricevere provvigioni altissime e trovare persone con le quali lavorare da subito.">
   <meta name="keywords" content="insurtech, insurance, app, web-app, insurance-arena ">
   <title>MIC - My Insurance Contest</title>
   <!-- =============== VENDOR STYLES ===============-->
   <%= stylesheet_link_tag 'base' %>
   <!-- =============== VIEW VENDOR STYLES ===============-->
   <%= stylesheet_link_tag params[:controller] %>
   <!-- =============== APP STYLES ===============-->
   <%= stylesheet_link_tag 'application', media: 'all', id: "maincss" %>

  <style>
    body{
      background-size: 100%;
      background-image: url( /background1.jpg )
    }
  </style>

   <%= csrf_meta_tags %>
</head>

<body>

    <% flash.each do |key, value| %>
      <% key = 'info' if key == 'notice' %>
      <% key = 'danger' if key == 'alert' %>
      <div id="notice" data-notify="" data-message="<%= value %>" data-onload="true" data-options="{&quot;status&quot;:&quot;<%= key %>&quot;}"></div>
    <% end %>

   <div class="wrapper">
      <%= yield %>
   </div>
   <div class="p-lg text-center">
      <span>&copy;</span>
      <span>2017</span>
      <span>-</span>
      <span>Minsuco</span>
      <br>
      <!--<span>Bootstrap Admin Template</span>-->
   </div>
   <!-- =============== VENDOR SCRIPTS ===============-->
   <%= javascript_include_tag 'base' %>
   <!-- =============== VIEW VENDOR SCRIPTS ===============-->
   <%= javascript_include_tag params[:controller] %>
   <!-- =============== APP SCRIPTS ===============-->
   <%= javascript_include_tag 'application' %>
</body>

</html>